/* font linkup */
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style start */
/* repeating segments */
html, body {
  width: 100%;
}
header, section, footer {
  width: 100%;
  font-family: 'raleway', sans-serif;
}
section {
  padding-top: 25px;
  padding-bottom: 25px;
}
.framework {
  width: 1000px;
  margin: 0 auto;
}
.row {
  width: 100%;
  display: inline-block;
  height: inherit;
}
.textGreen {
  color: #27c7ab; /* COMPANY COLOR HERE */
}

/* header style */
header p {
  float: left;
  font-weight: bold;
}
header {
  height: 40px;
  padding-top: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
}
.navBar {
  list-style: none;
  float: right
}
.navBar li {
  display: inline-block;
  margin-left: 20px;
}
.dropDownButton {
  position: relative;
}
.dropDownBox {
  position: absolute;
  text-transform: none;
  width: 110px;
  left: -23px;
  bottom: -100px; /*was 0*/
  background-color: black;
  color: white;
  z-index: 10;
}
.dropDownTriangle {
  background-color: black;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  z-index: 8;
  position: absolute;
  top: 30px;
  left: 20px;
}
.dropDownMenu {
  z-index: 9;
  list-style: none;
  display: block;
}
.dropDownMenu li {
  padding-top: 5px;
  padding-bottom: 5px;
}
/*.dropDownButton * {
  display: none;
}*/
/*.dropDownButton:hover {
  height: 115px;
}*/
/*.dropDownButton:hover * {
  display: inline-block;
} removed CSS dropdown menu for JS dropdown menu*/

/* splash image style */
#chairSplashImage {
  background-image: linear-gradient(0deg,#cbced5,#ffffff);
  display: inline-block;
  height: 500px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.leftButton {
  float: left;
  line-height: 320px;
  color: #27c7ab;
  font-size: 40px;
  width: 100px;
  text-align: center;
}
.chairSlider {
  float: left;
  width: 400px;
}
.sliderVisible {
  display: inline-block;
}
.blackChairText h2 {
  text-transform: uppercase;
  line-height: 120px;
}
.blackChairText {
  float: left;
  text-align: center;
  width: 400px;
  margin-bottom: 10px;
}
.blackChairButton {
  width: 180px;
  height: 2em;
  color: white;
  line-height: 35px;
  background-color: #27c7ab;
  border-radius: 7%;
  text-transform: uppercase;
  margin: auto;
}
.rightButton {
  float: left;
  line-height: 320px;
  color: #27c7ab;
  font-size: 40px;
  width: 100px;
  text-align: center;
}

/* previews style */
#previewImages {
  display: inline-block;
  position: relative;
  height: 350px;
}
.previews {
  float: left;
  width: 300px;
}
.previews:nth-of-type(2) {
  margin-left: 50px;
  margin-right: 50px;
}
.previews img {
  max-width: 300px;
}
.previewOne {
  position: relative;
  float: left;
}
.previewTwo {
  position: relative;
}
.previewTwo > div {
  position:relative;
}
.previewTxt {
  position: relative;
  border: 1px solid #dbdbdb;
  padding: 15px;
}
.previewOne img {
  position: relative;
  z-index: 1;
}
.previewOne div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 2;
}
.previewTwo img {
  position: relative;
  z-index: 1;
}
.previewTwo div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 2;
}
.underlined {
  width: 150px;
  border-bottom: 7px solid #27c7ab;
}
.underlineFrame {
  height: 50px;
  width: 300px;
  background-color: rgba(255,255,255,0.5);
}

/* price tags style */
#priceTags {
  background-color: #f1f1f1;
  display: inline-block;
}
p.underlined {
  width: 300px;
}
.priceTag:nth-of-type(2) {
  margin-left: 50px;
  margin-right: 50px;
}
.priceTag {
  display: inline-block;
  background-color: #f9f9f9;
  margin-top: 50px;
  width: 300px;
  height: 500px;
  border: 2px solid #d8d8d8;
  position: relative;
  z-index: 1;
  float: left;
}
.dotBig {
  border: 2px solid #d8d8d8;
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: -31px;
  margin: auto;
}
.dotSmall {
  background-color: #c2c2c2;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  top: -16px;
  margin: auto;
}
.priceBox {
  height: 50%;
  position: relative;
}
.planName {
  margin-top: 25px;
  color: #27c7ab;
  text-align: center;
}
.priceCircle {
  z-index: 2;
  background-color: white;
  width: 150px;
  height: 150px;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  padding: 15px;
}
.priceCircle p {
  font-size: 45px;
}
.priceCircle p:first-of-type {
  padding-top: 15px;
}
.priceCircle p:last-of-type {
  padding-top: 5px;
  font-size: 20px;
}
.upperIndex {
  font-size: 50%;
  vertical-align: top;
}
.priceItems .itemBox {
  height: 40px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
.priceItems .itemBox:nth-child(odd) {
  background-color: #e4e4e4;
  color: #9b9b9b;
}
.priceItems .itemBox:nth-child(even) {
  background-color: #f1f1f1;
  color: #737373;
}
.joinButton {
  text-align: center;
  color: white;
  background-color: #27c7ab;
  border-radius: 7%;
  width: 100px;
  height: 40px;
  padding-top: 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  margin: auto;
}

/* active change code */
.priceTag:hover {
  background-color: #27c7ab;
  border: 2px solid #27c7ab;
}
.priceTag:hover .dotBig {
  border: 2px solid #27c7ab;
  background-color: #27c7ab;
}
.priceTag:hover .dotSmall {
  background-color: #ffffff;
}
.priceTag:hover .planName {
  color: white;
}
.priceTag:hover .priceCircle {
  border-color: #27c7ab;
  color: #27c7ab;
}
.priceTag:hover .itemBox:nth-child(odd) {
  background-color: white;
  color: #9a9a9a;
}
.priceTag:hover .itemBox:nth-child(even) {
  background-color: #f1f1f1;
  color: #b3b3b3;
}
.priceTag:hover .joinButton {
  color: #27c7ab;
  background-color: white;
}

/* contact form style */

.formFrames {
  float: left;
}
.formFrames .underlined {
  margin-bottom: 20px;
}
.formConfirm {
  float: left;
  margin-top: 30px;
  margin-left: 50px;
  display: inline-block;
}
input {
  border: 1px solid #a6e3d3;
  font-family: inherit;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
}
input[type="text"], input[type="email"] {
  width: 560px;
  height: 40px;
}
input[type="email"] {
  margin-top: 20px;
  margin-bottom: 20px;
}
textarea {
  font-family: inherit;
  resize: none;
  width: 560px;
  height: 220px;
  vertical-align: top;
  border: 1px solid #a6e3d3;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
}
input[type="submit"] {
  background-color: #27c7ab;
  border: none;
  color: white;
  font-size: 26px;
  height: 50px;
  width: 300px;
  border-radius: 7%;
}
.confirmBox {
  height: 50px;
  width: 50px;
  border: 1px solid #a6e3d3;
  padding-top: 5px;
  position: relative;
  top: 5px;
}
.formConfirm .confirmBox {
  position: relative;
  top: 15px;
}
.formConfirm p{
  width: 300px;
  position: relative;
  left: 65px;
  top: -30px;
  font-size: 18px;
  font-weight: 100;
}

/* footer style */
footer .framework {
  vertical-align: bottom;
  font-weight: 100;
  color: #a9a9a9;
}
.copyrights {
  float: left;
  line-height: 45px;
}
.mediaName {
  float: right;
  width: 400px;
}
.copyrightsName {
  text-transform: uppercase;
  float: left;
  width: 200px;
  line-height: 45px;
}
.mediaButtons {
  float: left;
  width: 200px;
}
.nameBold {
  font-weight: bold;
}
